/* LESS mixins*/
/* Universal tag styles*/
html {
  font-family: 'Segoe UI', Segoe, Tahoma, sans-serif;
  font-size: 1rem;
  line-height: 1.44;
}
body {
  margin: 0;
  font-size: 1.75rem;
}
a {
  text-decoration: none;
  font-size: 14px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Div's styles */
.flexbox,
.flexbox-item {
  display: -webkit-flex;
  display: flex;
}
.flexbox-item {
  height: auto;
}
.container {
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
}
.header,
.footer,
.menu {
  color: #fff;
  background-color: #666;
  -webkit-transition: font-size 0.5s linear;
  transition: font-size 0.5s linear;
}
.header {
  height: 148px;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: center;
}
.include {
  height: 100px;
  width: 970px;
  margin-right: 28px;
  margin-left: 28px;
  display: flex;
  justify-content: space-between;
  background-color: #ffff99;
}
.logo {
  width: 340px;
  height: 100%;
  background-color: #ff9999;
}
.email {
  width: 230px;
  height: 100%;
  background-color: #ff9999;
}
/* Horysontal menu */
.menu {
  height: 50px;
  margin: 0;
  background-color: #ff9999;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.menu > ul {
  display: flex;
}
.menu > ul > li {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
}
/* left column navigation */
.nav {
  width: 240px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.nav > * {
  box-shadow: 0 0 6px -1px;
}
.basket,
.catalog,
.categories {
  width: 200px;
  margin-bottom: 20px;
}
.basket {
  margin-top: 20px;
  min-height: 87px;
}
.catalog {
  min-height: 100px;
}
.categories {
  max-height: 500px;
}
.nav-body-links ul {
  list-style: none;
}
.nav-body-links a {
  display: block;
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px solid silver;
  color: #008cee;
}
.nav-header {
  height: 35px;
  background-color: #41b039;
}
.section {
  -webkit-flex: auto;
  flex: auto;
  width: auto;
  box-sizing: border-box;
  padding: 20px;
}
.main-container {
  font-family: Arial;
  height: 100%;
  width: 100%;
}
.body-header {
  height: auto;
  max-width: 744px;
  margin-bottom: 30px;
  background-color: #ff9999;
}
.body-header h1 {
  font-size: 26px;
  font-weight: normal;
  line-height: 25px;
}
.body-header p {
  font-size: 14px;
  font-weight: normal;
}
.body-slides {
  height: auto;
  min-height: 700px;
  max-width: 744px;
  background-color: #ffff99;
}
.body-scroller {
  height: 30px;
  width: 260px;
  background-color: #ff9999;
  margin-top: 20px;
}
.footer {
  height: 75px;
  margin: 0;
}
